<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>分类</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css"/>
   
	</head>
	<body onLoad="loaded()" class="fl">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">分类</h1>
		</header>
		<header class="mui-bar mui-bar-nav">
				<nav class="fl-search-list">
        	<div class="fl-search-list-con">
                 <div class="fl-search-list-address fl-search-list-small">
                       
                        <input class="fl-search-list-input" type="text" placeholder="请输入您想要的食材">
                         <a href="ss.html"><img src="images/search_ico.png"/></a>
                    </div>
            </div>
		</nav>
		</header>
		<div class="mui-content mui-row mui-fullscreen fl-list">
			<div class="mui-col-xs-3">
				<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
					<a href="#content1" class="mui-control-item mui-active">蔬菜类</a>
					<a href="#content2" class="mui-control-item">水果类</a>
					<a href="#content3" class="mui-control-item">米面粮油</a>
					<a href="#content4" class="mui-control-item">菌菇类</a>
					<a href="#content5" class="mui-control-item">鲜肉类</a>
                    <a href="#content6" class="mui-control-item">食堂类</a>
                    <a href="#content7" class="mui-control-item">禽蛋类</a>
                    <a href="#content8" class="mui-control-item">豆制品</a>    
				</div>
			</div>
			<div id="segmentedControlContents" class="mui-col-xs-9">
				<div id="content1" class="mui-control-content mui-active">
					<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">叶菜叶</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">根茎类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">茄果瓜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">椒类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">姜葱蒜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc6.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">蒸菜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc7.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">盘饰品</h4>
							</a>
						</li>
 					</ul>
				</div>
				<div id="content2" class="mui-control-content">
							<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sg1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">苹果</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sg2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">香蕉</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sg3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">梨</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sg4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">瓜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sg5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">橘子</h4>
							</a>
						</li>
                    </ul>
				</div>
				<div id="content3" class="mui-control-content">
					<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">叶菜叶</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">根茎类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">茄果瓜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">椒类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">姜葱蒜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc6.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">蒸菜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc7.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">盘饰品</h4>
							</a>
						</li>
 					</ul>
				</div>
				<div id="content4" class="mui-control-content">
						<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">叶菜叶</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">根茎类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">茄果瓜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">椒类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">姜葱蒜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc6.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">蒸菜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc7.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">盘饰品</h4>
							</a>
						</li>
 					</ul>
				</div>
				<div id="content5" class="mui-control-content">
						<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">叶菜叶</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">根茎类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">茄果瓜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">椒类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">姜葱蒜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc6.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">蒸菜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc7.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">盘饰品</h4>
							</a>
						</li>
 					</ul>
				</div>
                	<div id="content6" class="mui-control-content">
						<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">叶菜叶</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">根茎类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">茄果瓜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">椒类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">姜葱蒜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc6.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">蒸菜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc7.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">盘饰品</h4>
							</a>
						</li>
 					</ul>
				</div>
                	<div id="content7" class="mui-control-content">
						<ul class="fenlei-nav">
						<li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc1.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">叶菜叶</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc2.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">根茎类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc3.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">茄果瓜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc4.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">椒类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc5.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">姜葱蒜</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc6.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">蒸菜类</h4>
							</a>
						</li>
                        <li class="mui-col-xs-4 mui-col-sm-4 mui-pull-left">
							<a href="fl_splb.html">
								<img src="images/sc7.png" alt="">
								<h4 class="mui-text-center j-tit  mui-ellipsis">盘饰品</h4>
							</a>
						</li>
 					</ul>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});
		</script>
       <nav class="mui-bar mui-bar-tab nav-list">
              <a id="changeIndex" class="mui-tab-item">
                    <span class="mui-icon nav-list-index-icon"></span>
                    <span class="mui-tab-label">首页</span>
            </a>
            <a id="changeFl" class="mui-tab-item mui-active">
                <span class="mui-icon nav-list-fl-icon"></span>
                <span class="mui-tab-label">分类</span>
            </a>
            <a id="changeSc" class="mui-tab-item">
                <span class="mui-icon nav-list-sc-icon"></span>
                <span class="mui-tab-label">收藏</span>
            </a>
            <a id="changeGwc" class="mui-tab-item">
                <span class="mui-icon nav-list-cart-icon"></span>
                <span class="mui-tab-label">购物车</span>
            </a>
            <a id="mine" class="mui-tab-item">
                <span class="mui-icon nav-list-my-icon"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
	</body>
	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/mui.min.js"></script>
<script type="text/javascript" src="js/iscroll.js"></script>
<script type="text/javascript" src="js/demo.js"></script>

<script>
	$(function(){
		$(".top-nav li").click(function(){
			$(this).addClass("active").siblings("li").removeClass("active");
		})
	})
</script>
  <!--js导航链接-->



</html>