<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>购物车</title>
		<link href="css/mui.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
       
        <style>
        .sccg_bg {
			background: #fff !important;
		}
		</style>
	</head>
	<body class="sccg_bg gwc">
    	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">购物车</h1>
		</header>
		<div class="mui-content">
           <div class="mui-clearfix">
            <ul class="mui-table-view pro_list">
                <li class="mui-table-view-cell mui-media bg_white pro_list-item">
                    <a href="spxq.html">
                        <img class="mui-media-object mui-pull-left" src="images/splb1.png">
                        <div class="mui-media-body">
                            <p class="mui-ellipsis-2 splb-tit">山东栖霞精品红富士1kg果径80-85mm酸甜爽口</p>
                            <div class="spjg">
                            	<div class="mui-text-left pro_list-price"><span class="rmb">￥</span><span class="pro_list-price-red">15.9</span></div>
                            </div>
                        </div>
                    </a>
                     <div class="mui-numbox mui-text-right tjgwc2" data-numbox-min="0">
                        <button class="mui-btn mui-btn-numbox-minus" type="button" disabled="">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </li>
                  <li class="mui-table-view-cell mui-media bg_white pro_list-item">
                       <a href="spxq.html">
                        <img class="mui-media-object mui-pull-left" src="images/splb1.png">
                        <div class="mui-media-body">
                            <p class="mui-ellipsis-2 splb-tit">山东栖霞精品红富士1kg果径80-85mm酸甜爽口</p>
                            <div class="spjg">
                            	<div class="mui-text-left pro_list-price"><span class="rmb">￥</span><span class="pro_list-price-red">15.9</span></div>
                            </div>
                        </div>
                    </a>
                     <div class="mui-numbox mui-text-right tjgwc2" data-numbox-min="0">
                        <button class="mui-btn mui-btn-numbox-minus" type="button" disabled="">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </li>
                 <li class="mui-table-view-cell mui-media bg_white pro_list-item">
                       <a href="spxq.html">
                        <img class="mui-media-object mui-pull-left" src="images/splb1.png">
                        <div class="mui-media-body">
                            <p class="mui-ellipsis-2 splb-tit">山东栖霞精品红富士1kg果径80-85mm酸甜爽口</p>
                            <div class="spjg">
                            	<div class="mui-text-left pro_list-price"><span class="rmb">￥</span><span class="pro_list-price-red">15.9</span></div>
                            </div>
                        </div>
                    </a>
                     <div class="mui-numbox mui-text-right tjgwc2" data-numbox-min="0">
                        <button class="mui-btn mui-btn-numbox-minus" type="button" disabled="">-</button>
                        <input class="mui-input-numbox" type="number">
                        <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                    </div>
                </li>
                  
                 
            </ul> 
          </div>
		</div>
        <div class="gwc-btn-group">
        	<a href="index.html" class="jxgw-btn">继续购物</a>
            <a href="gwcqk.html" class="qbqk-btn">全部清空</a>
        </div>
        <div class="buy-jjr-zx">
                     <div class="buy-jjr-zx-left">
                        <a class="buy-jjr-list">
                            <img id="photo" class="buy-jjr-img" src="images/sc_img.png">
                            <div class="buy-jjr-text">合计：<span class="color_red">￥0</span></div>
                        </a>
                    </div>
                    <div class="buy-jjr-zx-right">
                        <a href="mine_gwc_ttjd.html">
                        提交订单
                        </a>
                    </div>
                </div>
        <nav class="mui-bar mui-bar-tab nav-list">
              <a id="changeIndex" class="mui-tab-item">
                    <span class="mui-icon nav-list-index-icon"></span>
                    <span class="mui-tab-label">首页</span>
            </a>
            <a id="changeFl" class="mui-tab-item">
                <span class="mui-icon nav-list-fl-icon"></span>
                <span class="mui-tab-label">分类</span>
            </a>
            <a id="changeSc" class="mui-tab-item">
                <span class="mui-icon nav-list-sc-icon"></span>
                <span class="mui-tab-label">收藏</span>
            </a>
            <a id="changeGwc" class="mui-tab-item mui-active">
                <span class="mui-icon nav-list-cart-icon"></span>
                <span class="mui-tab-label">购物车</span>
            </a>
            <a id="mine" class="mui-tab-item">
                <span class="mui-icon nav-list-my-icon"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
         <script src="js/jquery.min.js"></script>
        <script src="js/mui.min.js"></script>
        <script src="js/demo.js"></script>
	</body>
</html>