<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>提交订单</title>
		<link href="css/mui.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
          <style>
		  .picker .picker-panel {
			position:relative;
			z-index: 600;
			top:0% !important;
			bottom:0;
			left:0;
			right:0;
			/*margin-top:-122px;*/
			width: 100%;
			height: 243px;
			margin:auto;
			background: #fff;
			transform: translateY(243px);
			-webkit-transform: translateY(243px);
			transition: all .5s;
			-webkit-transition: all .5s;
		}
		.picker .picker-panel .picker-choose .confirm {
			right: 0;
			color:#666 !important;
		}
		</style>
	</head>
	<body>
    	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">提交订单</h1>
		</header>
    	<div class="mui-content tjdd">
            <div class="mui-card ljzf-list" style="margin:0px">
                <form class="mui-input-group">
                	<div class="mui-input-row mui-radio tjdd-fdmm">
                      <p class="ttjd-tit">饭店名称<span class="mui-pull-right">张三&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13205159875</span></p>
                       <div class="ttjd-list">
                       	   <img src="images/map.png"/>
                       	   <p class="ttjd-shdz">          
                            收货地址：河南省郑州市高新区翠竹街与莲花街交叉口企业总部基地123号楼
                          </p>
                      </div>
                      <a class="tjdd-xg">修改</a>
                    </div>
                    <div class="mui-input-row ttjd-pssj">
                         配送时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="picker3">2017-25-21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上午8:00-9:00</a></span>
                    </div>
                    <div class="mui-input-row ttjd-fp">
                        发票<a href="mine_gwc_fp.html" class="mui-pull-right ttjd-xxfp">不开发票<span class="mui-icon mui-icon-arrowright"></span></a>
                    </div>
                	<div class="line-hui"></div>
                    <div class="mui-input-row mui-radio">                                
                        <label><img src="images/wx.png">微信支付</label>
                        <input name="checkbox1" type="radio">
                    </div>
                    <div class="mui-input-row mui-radio">
                        <label><img src="images/zfb.png">支付宝支付</label>
                        <input name="checkbox1" type="radio" checked="">
                    </div>
                    <div class="mui-input-row mui-radio">
                        <label><img src="images/ye.png">账户余额</label>
                        <input name="checkbox1" type="radio" checked="">
                    </div>
                    <div class="mui-input-row mui-radio">
                        <label><img src="images/yl.png">银联支付</label>
                        <input name="checkbox1" type="radio">
                    </div>
                </form>
                <div class="buy-jjr-zx">
                     <div class="buy-jjr-zx-left">
                        <a class="buy-jjr-list">
                            <img id="photo" class="buy-jjr-img" src="images/sc_img.png">
                            <div class="buy-jjr-text">合计：<span class="color_red">￥0</span></div>
                        </a>
                    </div>
                    <div class="buy-jjr-zx-right">
                        <a href="#">
                        提交订单
                        </a>
                    </div>
                </div>   
             </div>
        </div>
         <nav class="mui-bar mui-bar-tab nav-list">
              <a id="changeIndex" class="mui-tab-item">
                    <span class="mui-icon nav-list-index-icon"></span>
                    <span class="mui-tab-label">首页</span>
            </a>
            <a id="changeFl" class="mui-tab-item">
                <span class="mui-icon nav-list-fl-icon"></span>
                <span class="mui-tab-label">分类</span>
            </a>
            <a id="changeSc" class="mui-tab-item">
                <span class="mui-icon nav-list-sc-icon"></span>
                <span class="mui-tab-label">收藏</span>
            </a>
            <a id="changeGwc" class="mui-tab-item  mui-active">
                <span class="mui-icon nav-list-cart-icon"></span>
                <span class="mui-tab-label">购物车</span>
            </a>
            <a id="mine" class="mui-tab-item">
                <span class="mui-icon nav-list-my-icon"></span>
                <span class="mui-tab-label">我的</span>
            </a>
        </nav>
	</body>
	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/iscroll.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
    <!-- 左右滑动 -->
    <script>
        $(function(){
            $(".top-nav li").click(function(){
                $(this).addClass("active").siblings("li").removeClass("active");
            })
        })
    </script>
      <!--js导航链接-->
     <script src="js/picker.min.js"></script>
<script>
  var data1 = [
    {
      text: '2016-6-7',
      value: 1
    }, {
      text: '2016-6-8',
      value: 2
    },
    {
      text: '2016-6-9',
      value: 3
    },
    {
      text: '2016-6-10',
      value: 4
    },
    {
      text: '2016-6-11',
      value: 5
    },
    {
      text: '2016-6-12',
      value: 6
    },
    {
      text: '2016-6-13',
      value: 7
    }, {
      text: '2016-6-14',
      value: 8
    },
    {
      text: '2016-6-15',
      value: 9
    },
    {
      text: '2016-6-16',
      value: 10
    },
    {
      text: '2016-6-17',
      value: 11
    },
    {
      text: '2016-6-18',
      value: 12
    }
  ];

  var data2 = [
    {
      text: '上午',
      value: 'a'
    }, {
      text: '下午',
      value: 'b'
    }
  ];

  var data3 = [
    {
      text: '8:00-9:00',
      value: 's'
    }, {
      text: '9:00-10:00',
      value: 'ss'
    },
    {
      text: '10:00-11:00',
      value: 'sss'
    },
    {
      text: '11:00-12:00',
      value: 'ssss'
    },
    {
      text: '12:00-13:00',
      value: 'sssss'
    },
    {
      text: '13:00-14:00',
      value: 'ssssss'
    },
    {
      text: '14:00-15:00',
      value: 'ssssss'
    },
    {
      text: '15:00-16:00',
      value: 'ssssss'
    },
    {
      text: '16:00-17:00',
      value: 'ssssss'
    },
    {
      text: '17:00-18:00',
      value: 'ssssss'
    },
    {
      text: '18:00-19:00',
      value: 'ssssss'
    },
    {
      text: '19:00-20:00',
      value: 'ssssss'
    }
  ];


  var picker3El = document.getElementById('picker3');

  var picker3 = new Picker({
    title: '选择配送时间',
    data: [data1, data2, data3]
  });

  picker3.on('picker.select', function (selectedVal, selectedIndex) {
    picker3El.innerText = data1[selectedIndex[0]].text + ' ' + data2[selectedIndex[1]].text + ' ' + data3[selectedIndex[2]].text;
  });

  picker3.on('picker.change', function (index, selectedIndex) {
    console.log(index);
  });

  picker3.on('picker.valuechange', function (selectedVal, selectedIndex) {
    console.log(selectedVal);
  });


  picker3El.addEventListener('click', function () {
    picker3.show();
  });

  var data = [data1, data2, data3];
  var index = 0;
</script>
	</body>
</html>