<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的订单</title>
		<link href="css/mui.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <script src="js/jquery.min.js"></script>
        <script src="js/mui.min.js"></script>
	<style>
			.mui-card .mui-control-content {
				padding: 10px;
			}
			.mui-control-content {
				height: 150px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">我的订单</h1>
		</header>
		<div class="mui-content wddd">
			
					  	<div class="ddbh-list">
                                <p class="ddbh"><img class="ddbh-img" src="images/mine_dd.png"><span class="ddbh-num">订单编号：123456012750</span></p>
                                <ul class="mui-table-view pro_list">
                                    <li class="mui-table-view-cell mui-media bg_white pro_list-item">
                                        <a href="spxq.html">
                                            <img class="mui-media-object mui-pull-left" src="images/splb1.png">
                                            <div class="mui-media-body">
                                                <p class="mui-ellipsis-2 splb-tit mui-pull-left">天天特价山东栖霞精品红富士苹果新鲜水果  当季红富士 酸甜爽口</p>
                                                <span class="mui-pull-right splb-jg">￥15.90</span>
                                                <div class="spjg clear">
                                                    500g<span class="mui-pull-right">&times;2</span>
                                                </div>
                                            
                                            </div>
                                        </a>
                                    </li>
                                </ul> 
                                <p class="ddbh-hj">共2件商品&nbsp;合计：<span class="ddbh-hj-jg">116.00</span></p>
                            </div>
                           <div class="line-hui"></div>
                           <div class="ddbh-list">
                                <p class="ddbh"><img class="ddbh-img" src="images/mine_dd.png"><span class="ddbh-num">订单编号：123456012750</span></p>
                                <ul class="mui-table-view pro_list">
                                    <li class="mui-table-view-cell mui-media bg_white pro_list-item">
                                        <a href="spxq.html">
                                            <img class="mui-media-object mui-pull-left" src="images/splb1.png">
                                            <div class="mui-media-body">
                                                <p class="mui-ellipsis-2 splb-tit mui-pull-left">天天特价山东栖霞精品红富士苹果新鲜水果  当季红富士 酸甜爽口</p>
                                                <span class="mui-pull-right splb-jg">￥15.90</span>
                                                <div class="spjg clear">
                                                    500g<span class="mui-pull-right">&times;2</span>
                                                </div>
                                            
                                            </div>
                                        </a>
                                    </li>
                                </ul> 
                                <p class="ddbh-hj">共2件商品&nbsp;合计：<span class="ddbh-hj-jg">116.00</span></p>
                            </div>
				</div>
		</div>
	</body>

</html>