<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>提交订单</title>
		<link href="css/mui.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <script src="js/jquery.min.js"></script>
        <script src="js/mui.min.js"></script>
	</head>
	<body class="tjdd-bg">
    	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">提交订单</h1>
		</header>
    	<div class="mui-content tjdd">
            <div class="ljzf-list" style="margin:0px">
                <form class="mui-input-group">
                    <div class="mui-input-row ttjd-pssj">
                         发票类型：纸质发票
                    </div>
                	<div class="line-hui"></div>
                    <div class="mui-input-row ttjd-pssj">
                         发票抬头票
                    </div>
                    <div class="mui-input-row mui-radio mui-left">
						<label>个人</label>
						<input name="radio" type="radio">
					</div>
                    <div class="mui-input-row mui-radio mui-left">
						<label>单位</label>
						<input name="radio" type="radio">
                        <input class="ttjd-txdw" type="text" placeholder="请填写单位名称"/>
					</div>
                    <div class="line-hui"></div>
                    <div class="mui-input-row ttjd-pssj">
                         发票内容
                    </div>
                    <div class="mui-input-row mui-radio mui-left">
						<label>明细</label>
						<input name="radio2" type="radio">
					</div>
                    <div class="mui-input-row mui-radio mui-left">
						<label>不开发票</label>
						<input name="radio2" type="radio">
					</div>
                    

                </form>
                <a href="mine_gwc_ttjd.html" class="fk-btn">提交</a>
              </div>
         </div>       
	</body>
	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/mui.min.js"></script>
	</body>
</html>