<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>搜索</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.indexedlist.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.raty.min.js"></script>
	</head>

	<body>
    	<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">返回</a>
			<h1 class="mui-title">搜索</h1>
		</header>
		<div class="mui-content ss">
 		<nav class="search-list">
                <div class="search-list-con">
                    <div class="search-list-address search-list-small">
                        <a href="#"><img src="images/search_ico.png"></a>
                        <input class="search-list-input" type="text" placeholder="请输入您想要的食材">
                    </div>
                </div>
                <div class="search-list-small-cancel">
                    <a href="index.html">取消</a>
                </div>
            </nav>
            <div class="hot-list clear">
            	<div class="hot-tit">热门搜索</div>
                <div class="hot-content">
                	<ul class="hot-ul">
                    	<li><a href="#">鸡蛋</a></li>
                        <li><a href="#">蔬菜</a></li>
                        <li><a href="#">青菜</a></li>
                    </ul>
                </div>
            
            </div>
        
        </div>
       
	</body>

</html>